.col-md-4 .section:nth-child(1)
{
  border-bottom:0 !important;
}
.col-md-4 .section:nth-child(2)
{
  border-top:0 !important;
}
h3{
  margin:0px!important;
  text-align:center;
  padding-bottom:4px!important;
}

#map {
    height: 150px; 
    width: 100%; 
   }

#sap {
height: 150px; 
width: 100%; 
} 
#dap {
height: 150px; 
width: 100%;
}
