.col-md-4{
    margin:0px;
    padding:0px;
}
.section{
    width:100%;
}
.section h1{
    text-align:center;
    color:red;
}
#location{
    background-color:#000000;
}

#location .row{
  border-top:10px solid #2f2e2e;
  border-bottom:10px solid #2f2e2e;
}

#location .row:nth-child(1){
    border:10px solid #2f2e2e;
  }

#location .section{
    border-left:10px solid #2f2e2e;
    border-right:10px solid #2f2e2e ;
}

#location .section:nth-child(2){
    border-bottom:15px solid #2f2e2e;
}

#location .section.header{
    border-left:0;
    border-right:0 ;
}
address{
    padding:20px;
    margin:0px;
    color:white;
}
#map {
    height: 150px; 
    width: 100%; 
   }

#sap {
height: 150px; 
width: 100%; 
} 
#dap {
height: 150px; 
width: 100%;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #location{
        margin-top:50px;
    }

    #location .section:nth-child(2){
        border-bottom:0px solid #2f2e2e;
    }
    
    footer{
        position:absolute;
        bottom:0;
    }


}