.block{
    margin-top:0px!important;
}
.section{
    width:100%;
    height:300px;
}
.section img{
    width:100%;
    height:170px;
}

h3{
    font-size:1.2em!important;
    margin:0px;
    padding:5px;
    color:#392a29;
}
h3:hover{
    color:#ffffff;
}
.cost-box,.info-box{
    display:flex;
}