.block{
    margin-top:0px!important;
}
.section{
    width:100%;
    height:100%;
}


.section img{
    display:block;
    width:100%;
    height:auto;
}

h3{
    font-size:1.2em!important;
    margin:0px;
    padding:5px;
    color:#e7aaae;
    text-align:center;
}
h3:hover{
    color:#ffffff;
}

.mile-box,.info-box,.price-box{
    display:flex;
    justify-content: space-between;
    text-align:center;
}

.price-box{
  padding:5px;
}

.mile-box .col-md-6,.info-box .col-md-6{
    padding:2px;
    border:2px solid #2d2b2b;
    text-align:center;
}

.info-box span{
    width:15px;
    height:15px;
    border-radius:10px; 
    display: inline-block;
}

.info-box .img-icon{
    max-width:50px;
    max-height:50px;
    background-color:red;
    margin-left:50%;
}




/* colors */

.bg-purple{
    background-color:purple;
    border:1px solid purple;
}

.bg-white{
   background-color:#ffffff;
   border:1px solid #ffffff;
}
.bg-black{
    background-color:#000000;
    border:1px solid #ccc;
    
 }
 .bg-gray{
    background-color:gray;
 }
 .bg-silver{
    background-color:silver;
 }
 .bg-ash{
    background-color:#b2beb5 ;
 }
 .bg-blue{
    background-color:blue;
 }
 .bg-red{
    background-color:red;
 }
 .bg-grade{
     background-color:#b9aca7; 
 }



@media screen 
  and (min-device-width: 900px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .section img{
        display:block;
        width:100%;
        height:160px;
        object-fit: cover;
        object-position: center center;
    }
 
}