@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Play");

*{
    margin:0;
    padding:0;
}
html,body{
   background-color: #1f1f1f;
   color:white;
   height:auto;
}


a,h2,h3,h4,p{
    font-family: 'Play', sans-serif;
}

h2{
    color:#df3c32;
    margin:0;
    text-align:center;
    width:100%;
    background-color:black;
    border: 10px solid #2f2e2e;
}

h3{
    background-color:#080707;
    color: #5d5d5d;
    padding:0 0 0 10px;
}

h4 {
    color: #5d5d5d;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

p{
    padding:0px 5px 0px 10px;
    text-align:justify;
}

address{
    padding: 20px;
    margin: 0px;
    color: white;
    font-family: 'Play', sans-serif;
}

.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-12{
    margin:0px;
    padding:0px;
}

.navbar-toggler{
    border:none!important;
}

/*********header ********/

navbar,header{
    background-color:black;
    border-bottom:2px solid #e7aaae;
}

header img{
    width:50px;
    height:50px;
}
/**********body content ******/

#content{
    background-color:#1f1f1f;
}
.block-content{
   background-color:black; 
}
.section{
   width:100%;
   border: 10px solid #2f2e2e;
}

/********* footer ***********/
footer{
    background-color:black;
    color:#5d5d5d;
    width:100%;
    text-align:center;
    font-size:0.8em;
    font-family: 'Play', sans-serif;
}

footer p{
    margin:0;
}

/********* extras ***********/
.alert{
    font-size:0.8em;
    color:red!important;

}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2000px) 
  and (-webkit-min-device-pixel-ratio: 1) { 


    p{
        padding:5px 10px 0px 10px;
        text-align:justify;
    }
    footer{
        position:absolute;
        bottom:0;
    }

    footer p:first-child{
        float:left;
    }
    footer p:last-child{
        float:right;
    }
    .alert{
        font-size:1.0em;
        color:#df3c32!important;
    }
    
}














/*******************************Custom scroll Bar ************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1f1f1f; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
}